<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Origin Blog</title>

		<!-- Stylesheet -->
		<link href="css/style.css" rel="stylesheet">
	    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.easyAccordion.js"></script>
		<script type="text/javascript" src="js/script.js"></script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div id="page-wrap">
			<div id="header">
				<h1 id="logo"><a href="#">Origin Blog</a></h1>
			</div><!-- end div#header -->
			<div id="top-bar" class="clearfix">
				<ul id="menu-page-menu">
					<li><a href="#">Home page</a></li>
					<li><a href="#">About >></a>
						<ul>
							<li><a href="#">Sublink-1</a></li>
							<li><a href="#">Sublink-2</a></li>
							<li><a href="#">Sublink-3</a></li>
							<li><a href="#">Sublink-4</a></li>
							<li><a href="#">Sublink-5</a></li>
						</ul>
					</li>
					<li><a href="#">FAQs >></a>
						<ul>
							<li><a href="#">Sublink-1</a></li>
							<li><a href="#">Sublink-2</a></li>
							<li><a href="#">Sublink-3</a></li>
							<li><a href="#">Sublink-4</a></li>
							<li><a href="#">Sublink-5</a></li>
						</ul>
					</li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Forum</a></li>
				</ul><!-- end ul#menu-page-menu -->
				<div id="search-box">
					<form id="searchForm" action="" method="get">
						<input type="text" name="s" id="s" value=""/>
						<input type="submit" name="submit" value="Search"/>
					</form>
				</div><!-- end div#search-box -->
			</div><!-- end div#top-bar -->

			<div id="page-info">
				<div id="featured">
					<dl>
		                <dt>First slide</dt>
		                <dd>
		                	<h2>This is the first slide</h2>
		                	<p><img src="img/post-images/img1.png" alt="Alt text to go here" />Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, enim.<br /><a href="#" class="more">Read more</a></p>
	                	</dd>
		                <dt>Second slide</dt>
		                <dd>
		                	<h2>Here is the second slide</h2>
		                	<p><img src="img/post-images/img2.png" alt="Alt text to go here" />Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, enim.<br /><a href="#" class="more">Read more</a></p>
                		</dd>
		                <dt>One more slide</dt>
		                <dd>
		                	<h2>One more slide to go here</h2><p><img src="img/post-images/img3.png" alt="Alt text to go here" />Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, enim.<br /><a href="#" class="more">Read more</a></p>
	                	</dd>
		                <dt>Another slide</dt>
		                <dd>
		                	<h2>Another slide to go here</h2>
		                	<p><img src="img/post-images/img4.png" alt="Alt text to go here" />Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, enim.<br /><a href="#" class="more">Read more</a></p>
	                	</dd>
		                <dt>Wow one more</dt>
		                <dd>
		                	<h2>Unbilievable one more slide here</h2>
		                	<p><img src="img/post-images/img5.png" alt="Alt text to go here" />Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, enim.<br /><a href="#" class="more">Read more</a></p>
	                	</dd>
		                <dt>Last one</dt>
		                <dd>
		                	<h2>This is definitely the last one</h2>
		                	<p><img src="img/post-images/img6.png" alt="Alt text to go here" />Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, enim.<br /><a href="#" class="more">Read more</a></p>
	                	</dd>
		            </dl>
				</div><!-- end div#featured -->
				<div id="facebook">
					<img src="img/facebook.jpg" alt="facebook"/>
				</div><!-- end div#facebook -->
			</div><!-- end div#page-info -->

			<div id="content-wrap">
				<div id="first-sidebar">
					<div class="widget">
						<h2>Site navigation</h2>
						<ul id="menu-category">
							<li><a href="#">Web Design</a></li>
							<li><a href="#">Photoshop</a></li>
							<li><a href="#">Hosting</a></li>
							<li><a href="#">Domain name</a></li>
							<li><a href="#">CSS</a></li>
						</ul><!-- end ul#menu-category -->
					</div><!-- end div.widget -->

					<div class="widget">
						<h2>RSS Feed</h2>
						<p class="date">August 20, 2014</p>
						<h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.</p>
					</div><!-- end div.widget -->
				</div><!-- end div#first-sidebar -->

				<div id="main-content">
					<h2><a href="#">Videos</a></h2>
					<div class="post">
						<h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
						<a href="#"><img src="img/post-images/post.jpg" alt="Fuck you"/></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<p class="meta-data">Posted by: Richard Nguyen | On: December 22,2014</p>
						<a class="comment-link" href="#">12</a>
						<a class="more-link">Continue reading ...</a>
					</div><!-- end div.post -->

					<h2><a href="#">PHP Videos</a></h2>
					<div class="post">
						<h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
						<a href="#"><img src="img/post-images/post.jpg" alt="Fuck you"/></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<p class="meta-data">Posted by: Richard Nguyen | On: December 22,2014</p>
						<a class="comment-link" href="#">12</a>
						<a class="more-link">Continue reading ...</a>
					</div><!-- end div.post -->

					<h2><a href="#">JQuery Tutorials</a></h2>
					<div class="post">
						<h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
						<a href="#"><img src="img/post-images/post.jpg" alt="Fuck you"/></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<p class="meta-data">Posted by: Richard Nguyen | On: December 22,2014</p>
						<a class="comment-link" href="#">12</a>
						<a class="more-link">Continue reading ...</a>
					</div><!-- end div.post -->
				</div><!-- end div#main-content -->

				<div id="second-sidebar">
					<ul class="tabs">
						<li><a href="#random" class="active">Random</a></li>
						<li><a href="#new">New</a></li>
						<li><a href="#popular">Popular</a></li>
					</ul><!-- end ul.tabs -->

					<div class="tabs-container">
						<div id="random" class="tab-content">
							<ul>
								<li><a href="#">Php Co ban 1</a></li>
								<li><a href="#">Tao trang web dau tien</a></li>
								<li><a href="#">Cuong dai ca la so 1</a></li>
								<li><a href="#">Java co ban</a></li>
								<li><a href="#">Ruby ngon ngu tuyet voi</a></li>
								<li><a href="#">Ruby on Rails</a></li>
								<li><a href="#">Python</a></li>
								<li><a href="#">Tien len chu dai bang</a></li>
								<li><a href="#">Co gi dau em oi</a></li>
							</ul>
						</div><!-- end div#random -->

						<div id="new" class="tab-content">
							<ul>
								<li><a href="#">Php Co ban 2</a></li>
								<li><a href="#">Tao trang web dau tien</a></li>
								<li><a href="#">Cuong dai ca la so 1</a></li>
								<li><a href="#">Java co ban</a></li>
								<li><a href="#">Ruby ngon ngu tuyet voi</a></li>
								<li><a href="#">Ruby on Rails</a></li>
								<li><a href="#">Python</a></li>
								<li><a href="#">Tien len chu dai bang</a></li>
								<li><a href="#">Co gi dau em oi</a></li>
							</ul>
						</div><!-- end div#new -->

						<div id="popular" class="tab-content">
							<ul>
								<li><a href="#">Php Co ban 3</a></li>
								<li><a href="#">Tao trang web dau tien</a></li>
								<li><a href="#">Cuong dai ca la so 1</a></li>
								<li><a href="#">Java co ban</a></li>
								<li><a href="#">Ruby ngon ngu tuyet voi</a></li>
								<li><a href="#">Ruby on Rails</a></li>
								<li><a href="#">Python</a></li>
								<li><a href="#">Tien len chu dai bang</a></li>
								<li><a href="#">Co gi dau em oi</a></li>
							</ul>
						</div><!-- end div#popular -->
					</div><!-- end div.tab-container -->

					<div class="widget">
						<h2>Discussion</h2>
						<ul>
							<li>
								<strong><a href="#">Lorem ipsum dolor sit amet</a></strong>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.</p>
							</li>
							<li>
								<strong><a href="#">Lorem ipsum dolor sit amet</a></strong>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.</p>
							</li>
							<li>
								<strong><a href="#">Lorem ipsum dolor sit amet</a></strong>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.</p>
							</li>
						</ul>
					</div><!-- end div.widget -->
				</div><!-- end div#second-sidebar -->

			</div><!-- end div#content-wrap -->
		</div><!-- end div#page-wrap -->

		<div id="footer">
			<p>Do you care about footer? FUCK ME!</p>
		</div><!-- end div#footer -->
	</body>
</html>