<!DOCTYPE html>
<html lang="vi">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Title Page</title>

		<!-- Bootstrap CSS -->
		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<!-- Custom Css -->
		<link rel="stylesheet" type="text/css" href="css/layout.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" type="text/css" href="css/menu.css">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

		<style type="text/css">
			#main-nav {
				text-align: center;
			}

			#main-nav a {
				display: block;
				width: 100%;
				border: 1px solid red;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<header id="header">
				<div class="row">
					<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
						<a href="#" class="logo"><img class="img-responsive" src="image/logo.png"/></a>
					</div>

					<div class="col-xs-8 col-sm-9 col-md-9 col-lg-9 greeting">
						<span>Xin chao <span>0927733776</span></span>
						
					</div>
				</div>
			</header>

			<nav id="main-nav">
				<div class="row">
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<a id="togger" href="#"><img class="img-responsive" src="image/menu.png"/></a>
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<a class="game" href="#"><img class="img-responsive" src="image/controller.png"/></a>
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<a class="music" href="#"><img class="img-responsive" src="image/music.png"/></a>
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<a class="video" href="#"><img class="img-responsive" src="image/video.png"/></a>
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<a class="picture" href="#"><img class="img-responsive" src="image/picture.png"/></a>
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<a class="search" href="#"><img class="img-responsive" src="image/search.png"/></a>
					</div>
				</div>
			</nav>
			<section id="slider">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active">
							<img src="image/asphat.jpeg" alt="Asphat">
							<div class="carousel-caption">
							</div>
						</div>
						<div class="item">
							<img src="image/gt3.jpg" alt="Moto GP">
							<div class="carousel-caption">
							</div>
						</div>
						<div class="item">
							<img src="image/spider-main.jpg" alt="Spider ">
							<div class="carousel-caption">
							</div>
						</div>
					</div>

					<!-- Controls -->
					<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>
			</section>
			<section class="product-tabbed">
				<header>
					<h3>TOP</h3>
				</header>

				<!-- Nav tabs -->
				<div class="row">
					<div class="col-xs-12">
						<ul class="nav nav-tabs text-center" role="tablist" style="width: 100%; margin: 0 auto;">
						  <li class="active"><a href="#home" role="tab" data-toggle="tab"><img class="img-responsive" src="image/controller.png"/>Game</a></li>
						  <li><a href="#profile" role="tab" data-toggle="tab"><img class="img-responsive" src="image/music.png"/>Music</a></li>
						  <li><a href="#messages" role="tab" data-toggle="tab"><img class="img-responsive" src="image/video.png"/>Video</a></li>
						  <li><a href="#settings" role="tab" data-toggle="tab"><img class="img-responsive" src="image/picture.png"/>Picture</a></li>
						</ul>
					</div>
				</div>
				

				<!-- Tab panes -->
				<div class="tab-content">
				  <div class="tab-pane active" id="home">
				  Home
				  </div>
				  <div class="tab-pane" id="profile">Music</div>
				  <div class="tab-pane" id="messages">...</div>
				  <div class="tab-pane" id="settings">...</div>
				</div>

			</section>

			<footer>
				<span>Copyright 2014 © <a href="http://www.vietnamobile.com.vn">Vietnamobile</a> . Allright service</span>
			</footer>
		</div>
	</body>
</html>