@media screen {
/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
	box-sizing: border-box; /* Apply a natural box layout model to the document; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
}
*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

a {
	text-decoration: none;
	color: #ce9702;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}

.clearfix {
	zoom: 1;
}

.clearfix:after, .clearfix:before {
	display: table;
	content: "";
	line-height: 0;
}

.clearfix:after {
	clear: both;
}

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 1.5rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

/* ---------------------------------------------
MAIN STRUCTURE
-------------------------------------------------*/

#page-wrap {margin: 0 auto; width: 1000px;}
#header {height: 116px; padding: 30px 0 0 10px; background: url('../img/header-bg.jpg') no-repeat top right;}
#header h1 a {
	display: block; 
	width: 197px; 
	height: 63px; 
	background: url('../img/logo.png') no-repeat top left;
	text-indent: -9999px;
}
#top-bar {
	border-top: 1px dashed #359cc3;
	border-bottom: 1px dashed #359cc3;
	pading: 1px 0 0 1px;
}

#menu-page-menu li {
	position: relative;
	float: left;
}

#menu-page-menu li a {
	display: block;
	float: left;
	padding: 0px 10px;
	font-size: 16px;
	line-height: 25px;
	color:#545454;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}

#menu-page-menu li a:hover {
	color: white;
	background-color: #bcd4da;
}

#menu-page-menu li ul {
	position: absolute;
	top: 100%;
	width: 13em;
	display: none;
	z-index: 10000;
}

#menu-page-menu li:hover ul {
	display: block;
}

#menu-page-menu li ul li a {
	float: none;
	font-size: 14px;
	border-left: 1px solid white;
	border-right: 1px solid white;
}

#menu-page-menu li ul li {
	background-color: #bcd4da;
	width: 100%;
}

#menu-page-menu li ul li a:hover {
	background-color: #d7e7ea;
	color: #31576a;
}

} /*end @media screen*/