* {
	padding: 0;
	margin: 0;
}

html {
	height: 100%;
}

body {
	position: relative;
	height: 100%;
	background-image: linear-gradient(#ccc,#fff);
	background-image: -o-linear-gradient(#ccc,#fff);
	background-image: -moz-linear-gradient(#ccc,#fff);
	background-image: -webkit-linear-gradient(#ccc,#fff);
}

.navbox {
	position: relative;
	float: left;
}

li {
	margin: 5px 0 0 0;
}

ul.nav {
	list-style: none;
	display: block;
	width: 200px;
	position: relative;
	top: 100px;
	left: 100px;
	padding: 60px 0;
	background-image: url('../image/shad2.png');
	background-repeat: no-repeat;
	background-size: 50% 100%;
	-o-background-size: 50% 100%;
	-webkit-background-size: 50% 100%;
	-moz-background-size: 50% 100%;
}

ul.nav li a {
	background: #cbcbcb url('../image/border.png') no-repeat;
	color: #174867;
	padding: 7px 15px;
	width: 100px;
	display: block;
	text-decoration: none;
	border-radius: 0 10px 10px 0;
	-o-border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
	box-shadow: 2px 2px 4px #888;
	-o-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	-webkit-box-shadow: 2px 2px 4px #888;
	transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}

ul.nav li a:hover {
	background: #ebebeb url('../image/border.png') no-repeat;
	color: #67a5cd;
	padding: 7px 15px 7px 30px;
}
