@mixin transition($value) {
	-ms-transition: $value;	
	-o-transition: $value;	
	-webkit-transition: $value;	
	-moz-transition: $value;	
	transition: $value;	
}

@mixin box-shadow($value) {
	-webkit-box-shadow: $value;	
	-moz-box-shadow: $value;	
	box-shadow: $value;	
}
