<!DOCTYPE html>
<html lang="vi">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>MLove - Cổng thông tin giải trí cho mobile</title>

		<!-- Bootstrap CSS -->
		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<!-- font-awesome -->
		<link href="css/font-awesome.min.css" rel="stylesheet">
		<!-- custom -->
		<link href="css/style.css" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div class="inforbar">
					<div class="container">
						<div class="row">
							<div class="social-icons col-xs-12 col-md-3">
								<a href="" class="facebook"><span class="fa fa-facebook-square"></span></a>
								<a href="" class="twitter"><span class="fa fa-twitter-square"></span></a>
								<a href="" class="linkedin"><span class="fa fa-linkedin-square"></span></a>
							</div>

							<div class="col-xs-12 col-md-9">
								<form class="search-box pull-right">
									<input type="search" placeholder="Tim kiem ...">
									<input type="submit" value="Tim kiem">
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="header">
					<div class="container">
						<div class="row">
							<div class="logo col-xs-12 col-md-3" >
								<span>MLove</span>
							</div>

							<div class="col-xs-12 col-md-8">
								<ul>
									<li><a href=""><span class="fa fa-home"></span>Trang chủ</a></li>
									<li><a href="">Tin tuc</a></li>
									<li><a href="">Tra cứu dịch vụ</a></li>
									<li><a href="">Hỏi đáp</a></li>
									<li><a href="">Liên hệ</a></li>
								</ul>
							</div>

							<div class="col-xs-12 col-md-1">
								
							</div>
						</div>
					</div>
				</div>
			</div><!-- end div#header -->

			<div class="container">
				<div class="feathers row">
					<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
						<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						  <!-- Indicators -->
						  <ol class="carousel-indicators">
						    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
						    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
						  </ol>

						  	<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
							    <div class="item active">
							      <img src="image/slider1.jpg" alt="...">
							      <div class="carousel-caption">
							      </div>
							    </div>
							    <div class="item">
							      	<img src="image/slider2.jpg" alt="...">
							      	<div class="carousel-caption">
							    	</div>
							    </div>

							    <div class="item">
							      <img src="image/slider3.jpg" alt="...">
							      <div class="carousel-caption">

							      </div>
							    </div>
							</div>

						  <!-- Controls -->
						  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						    <span class="sr-only">Previous</span>
						  </a>
						  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						    <span class="sr-only">Next</span>
						  </a>
						</div>


						<h2>Sản phẩm hot</h2>

						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
								<div class="video-thumnail">
							    	<img src="image/video.jpg" alt="Mana" class="img-rounded img-responsive">
							    	<div class="caption">
							    		<h5>MAMA - SDFSDF</h5>
							    	</div>
							    </div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
								<div class="video-thumnail">
							    	<img src="image/video.jpg" alt="Mana" class="img-rounded img-responsive">
							    	<div class="caption">
							    		<h5>MAMA - SDFSDF</h5>
							    	</div>
							    </div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
								<div class="video-thumnail">
							    	<img src="image/video.jpg" alt="Mana" class="img-rounded img-responsive">
							    	<div class="caption">
							    		<h5>MAMA - SDFSDF</h5>
							    	</div>
							    </div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
								<div class="video-thumnail">
							    	<img src="image/video.jpg" alt="Mana" class="img-rounded img-responsive">
							    	<div class="caption">
							    		<h5>MAMA - SDFSDF</h5>
							    	</div>
							    </div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
								<div class="video-thumnail">
							    	<img src="image/video.jpg" alt="Mana" class="img-rounded img-responsive">
							    	<div class="caption">
							    		<h5>MAMA - SDFSDF</h5>
							    	</div>
							    </div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
								<div class="video-thumnail">
							    	<img src="image/video.jpg" alt="Mana" class="img-rounded img-responsive">
							    	<div class="caption">
							    		<h5>MAMA - SDFSDF</h5>
							    	</div>
							    </div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
								<div class="video-thumnail">
							    	<img src="image/video.jpg" alt="Mana" class="img-rounded img-responsive">
							    	<div class="caption">
							    		<h5>MAMA - SDFSDF</h5>
							    	</div>
							    </div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
								<div class="video-thumnail">
							    	<img src="image/video.jpg" alt="Mana" class="img-rounded img-responsive">
							    	<div class="caption">
							    		<h5>MAMA - SDFSDF</h5>
							    	</div>
							    </div>
							</div>
						</div>

						<h2>Sản phẩm hot</h2>

						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
								<div class="thumbnail">
							    	<img src="image/video.jpg" alt="Mana">
							    	<div class="caption">
							    		<h5>MAMA - SDFSDF</h5>
							    	</div>
							    </div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
								<div class="thumbnail">
							    	<img src="image/video.jpg" alt="Mana">
							    	<div class="caption">
							    		<h5>MAMA - SDFSDF</h5>
							    	</div>
							    </div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
								<div class="thumbnail">
							    	<img src="image/video.jpg" alt="Mana">
							    	<div class="caption">
							    		<h5>MAMA - SDFSDF</h5>
							    	</div>
							    </div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
								<div class="thumbnail">
							    	<img src="image/video.jpg" alt="Mana">
							    	<div class="caption">
							    		<h5>MAMA - SDFSDF</h5>
							    	</div>
							    </div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
								<div class="thumbnail">
							    	<img src="image/video.jpg" alt="Mana">
							    	<div class="caption">
							    		<h5>MAMA - SDFSDF</h5>
							    	</div>
							    </div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
								<div class="thumbnail">
							    	<img src="image/video.jpg" alt="Mana">
							    	<div class="caption">
							    		<h5>MAMA - SDFSDF</h5>
							    	</div>
							    </div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
								<div class="thumbnail">
							    	<img src="image/video.jpg" alt="Mana">
							    	<div class="caption">
							    		<h5>MAMA - SDFSDF</h5>
							    	</div>
							    </div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
								<div class="thumbnail">
							    	<img src="image/video.jpg" alt="Mana">
							    	<div class="caption">
							    		<h5>MAMA - SDFSDF</h5>
							    	</div>
							    </div>
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
						<nav class="product-category">
							<ul>
								<li>
									<a href="">Game</a>
									<ul>
										<li><a href="">Hanh Dong</a></li>
										<li><a href="">The Thao</a></li>
										<li><a href="">Giai Tri</a></li>
										<li><a href="">Vui nhon</a></li>
									</ul>
								</li>
								<li>
									<a href="">Hot - Clip</a>
									<ul>
										<li><a href="">Hanh Dong</a></li>
										<li><a href="">The Thao</a></li>
										<li><a href="">Giai Tri</a></li>
										<li><a href="">Vui nhon</a></li>
									</ul>
								</li>
								<li>
									<a href="">Nhac che - vui nhon</a>
									<ul>
										<li><a href="">Hanh Dong</a></li>
										<li><a href="">The Thao</a></li>
										<li><a href="">Giai Tri</a></li>
										<li><a href="">Vui nhon</a></li>
									</ul>
								</li>
								<li>
									<a href="">Hình ảnh lãng mạn</a>
									<ul>
										<li><a href="">Hanh Dong</a></li>
										<li><a href="">The Thao</a></li>
										<li><a href="">Giai Tri</a></li>
										<li><a href="">Vui nhon</a></li>
									</ul>
								</li>
							</ul>
						</nav>

						<!-- Tin tuc -->
						<div class="new site bar">
							<h3>Dich vu host nhat cho thue bao Vietname mobile</h3>
							<ul>
								<li><a href="">Viet nam danh chieu tien</a></li>
								<li><a href="">Thu tuong chinh phu ve tham NMS</a></li>
								<li><a href="">Ngoc trinh ru Duymb di choi</a></li>
								<li><a href="">Vui nhon</a></li>
							</ul>
						</div>

						<!-- Tin tuc -->
						<div class="new site bar">
							<h3>Tin moi nhat</h3>
							<ul>
								<li><a href="">Viet nam danh chieu tien</a></li>
								<li><a href="">Thu tuong chinh phu ve tham NMS</a></li>
								<li><a href="">Ngoc trinh ru Duymb di choi</a></li>
								<li><a href="">Vui nhon</a></li>
							</ul>
						</div>
					</div>
				</div>



				
			</div><!-- end div#main-content -->

			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							<ul>
								<li><a href=""><span class="fa fa-home"></span>Trang chủ</a></li>
								<li><a href="">Tin tuc</a></li>
								<li><a href="">Tra cứu dịch vụ</a></li>
								<li><a href="">Hỏi đáp</a></li>
								<li><a href="">Liên hệ</a></li>
							</ul>
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							<ul>
								<li><a href="">Hanh Dong</a></li>
								<li><a href="">The Thao</a></li>
								<li><a href="">Giai Tri</a></li>
								<li><a href="">Vui nhon</a></li>
							</ul>
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							Facebook
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							Copy right
						</div>
					</div>
				</div>
			</div><!-- end div#footer -->
		</div><!-- end div#container -->

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script>
			$('.carousel').carousel();
		</script>
	</body>
</html>